body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #4CAF50;
    padding: 1px;
    color: white;
}

footer {
    background-color: #4CAF50;
    padding: 1px;
    text-align: center;
}

a {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
a:hover {
    background-color: #45a049;
}
button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px;
    max-width: 100%;
    height: auto;
}

.container {
    margin: 20px auto;
    padding: 20px;
    max-width: 80%;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}